@if (color) {
  <div class="flex gap-8 justify-center" style="grid-template-rows: 1fr max-content">
    <div class="grid place-items-center">
      <div
        class="h-32 md:h-64 aspect-square rounded-2xl"
        [style.backgroundColor]="color.hex"
        [transitionName]="color.name + '-img'"
      ></div>
      <span class="font-bold text-xl md:text-3xl" [transitionName]="color.name">{{ color.name }}</span>
    </div>
    <div class="flex flex-col gap-4 justify-center">
      <p
        [transitionName]="'description'"
        [inAnimation]="{ keyframesName: 'fadeInRight', duration: 300 }"
        [outAnimation]="{ keyframesName: 'fadeOutRight', duration: 300 }"
      >
        {{ color.description }}
      </p>
      <div
        class="flex flex-col gap-1 font-thin text-sm font-mono"
        [transitionName]="'properties'"
        [inAnimation]="{ keyframes: fadeInUp, duration: 300 }"
        [outAnimation]="{ keyframes: fadeOutDown, duration: 300 }"
      >
        <div>
          HEX: <span class="font-bold">{{ color.hex }}</span>
        </div>
        <div>
          RGB: <span class="font-bold">{{ color.rgb }}</span>
        </div>
        <div>
          HLS: <span class="font-bold">{{ color.hls }}</span>
        </div>
      </div>
    </div>
  </div>
}
