@use './app/animations.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100svh;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

/* Tiny accessibility helper */
:focus-visible {
  @apply outline-2 outline-offset-2 outline-blue-600;
}
